<header class="header__admin">
    <div class="grid wide">
        <ul class="header__admin-list">
            <li class="header__admin-item">
                <i class="fa-solid fa-users"></i>
                <a href="">Người dùng</a>
            </li>
            <li class="header__admin-item">
                <i class="fas fa-list"></i>
                <a href="/admin/staff">Nhân viên</a>
            </li>
            <li class="header__admin-item">
                <i class="fa-brands fa-product-hunt"></i>
                <a href="">Hóa đơn</a>
            </li>
            <li class="header__admin-item">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <a href="/home/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
</header>