<header class="header__staff">
    <ul class="header__staff-list">
        <li class="header__staff-item">
            <i class="fa-solid fa-money-bills"></i>
            <a href="/staff/bill">Hóa đơn</a>
        </li>
        <li class="header__staff-item">
            <i class="fa-solid fa-file-import"></i>
            <a href="/staff/import">Phiếu nhập hàng</a>
        </li>
        <li class="header__staff-item">
            <i class="fas fa-list"></i>
            <a href="/staff/category">Danh mục</a>
        </li>
        <li class="header__staff-item test">
            <i class="fa-brands fa-product-hunt"></i>
            <a href="/staff/product">Sản phẩm</a>
        </li>
        <li class="header__staff-item">
            <i class="far fa-bell"></i>
            <a href="/staff/notification">Thông báo</a>
        </li>
        <li class="header__staff-item">
            <i class="fa-solid fa-chart-column"></i>
            <a href="/staff/statistic">Thống kê</a>
        </li>
        <li class="header__staff-item header__staff-parent">
            <i class="fa-solid fa-sort-down header__staff-icon-down"></i>
        </li>
        <div class="header__staff-children">
            <div class="header__staff-children-first">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <a href="/home/logout">Đăng xuất</a>
            </div>
        </div>
    </ul>
</header>